@import "../../style/All";
@import "../../style/var";

.store{
  width: 100%;
  //height: 100vh;
  display: flex;
  align-items: center;
  //border: 1px solid red;
  padding: 20px 0;
  &__name{
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 3px solid #b7b3b3;;
    margin-bottom: 5px;
    color: #4e4d4d;

    //height: 50%;
  }
  &__info{
    width: 50%;
    //height: 50%;
    //background: red;
  }
  &__getInfo{
    display: flex;
    flex-direction: column;
    ul{
      display: flex;
      align-items: center;
      border-bottom: 1px solid silver;
      //border: 1px solid #ff0000;
      li{
        padding: 10px;
        //border: 1px solid red;

        &:nth-child(1){
          width: 40px;
          height: 40px;
          background: black;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 1px solid white;
        }
        a{
          font-size: 16px;
          color: #08709f;
          position: relative;


          &::after{
            content: '';
            width: 0;
            height: 2px;
            display: block;
            position: absolute;
            background: #08709f;
            transition: .3s;
          }
          &:hover::after{
            width: 100%;
          }
        }
      }
    }
    >.store_phone{
      display: flex;

      >ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        li{
          width: auto;
          height: auto;
          background: none;
          color: black;
          border: none;

        }
      }
    }

  }

  .store_message{
    width: 100%;
    height: 100px;
    margin-top: 10px;
    position: relative;
    form{
      display: flex;
      width: 100%;
      height: 100%;

      li{
        display: block;
        width: 100%;
        padding: 12px;
      }
      textarea{
        resize: none;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        border: 2px solid silver;
        font-style: italic;
        transition: .3s;
        &:focus{
          border: 2px solid #09adca;
        }

      }
      > .send{
        width: 15px;
        height: 15px;
        font-size: 22px;
        position: absolute;
        right: 5px;
        bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #5a5a5a;
        transition: .3s;

        &:hover{
          color: #09adca;
        }
      }
    }

  }
  &__slider{
    width: 50%;
    display: flex;
    justify-content: center;
    .slider_auto{
      width: 90%;
      height: 100%;
      border: none;
    }
  }

}

@import "./media.scss";