@import "./src/style/var";

.overley{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.4;
  display: none;
  z-index: 1;
}
.header_menu{
  width: 100%;
  height: 55px;
  //background: red;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #666374;
  padding: 0 25px;
  .open{
    display: none;
  }
  nav{
    width: 100%;
    li{
      padding: 3px 5px;
      cursor: pointer;
      color:#2b2b2c;
      //border: 1px solid red;
      //font-size: 15px;
      &:hover{
        color: white;
        //background: white;
      }
      >a{
        color: #2b2b2c;
        transition: .3s;
        display: flex;

        &:hover{
          color: white;
          //background: white;
        }
      }
    }
    //height: 30px;
    //background: red;
    .menu{


      .menu_button{
        border: 2px solid #666374;
        border-radius: 4px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        //width: 138pfont-size: 17px;x;
        //height: 43px;
        margin-right: 5px;
        background: #ffffff;
        padding: 10px 20px;
        color: #322C4A;
        font-weight: bold;

        line-height: 20px;
        & > a{
          color: #322C4A;
        }
        &:active{
          transform: translate(50px, 100px);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        }

      }
      .home_button{
        margin-right: 30px;
      }
      width: 100%;
      display: flex;
      .auto_parts,{
        position: relative;
        .auto_parts_block,{
          width: 940px;
          display: flex;
          animation-name: auto_parts_block;
          animation-duration: 2s;
          overflow: hidden;
          position: absolute;
          z-index: 1001;
          background: #fff8f8;
          top: 41px;
          @keyframes auto_parts_block {
            0%{
              opacity: 0;
              width: 600px;
              height: 100px;
            }
            50%{
              opacity: 1;
              width: 940px;
              height: 276px;
            }
            70%{
              opacity: 1;
              width: 940px;
            }
          }
          .parts,.cars,.truck,.service{
            color: #101423;
            font-size: 16px;
            height: 250px;
            width: 310px;
            >li{
              color: black;
              border: none;
              margin: 0;
              border-bottom: 1px solid silver;
              &:hover{
                background: #4f65a247;
                color:#0e6a99;
                transition: 0.5s;
              }
            }
          }
          >li{
            color: #061a77;
            font-size: 16px;
            width: 310px;
            padding: 5px 5px;
            >ul{
              &::-webkit-scrollbar {
                width: 6px;
              }

              &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(16, 16, 16, 0.3);
              }

              &::-webkit-scrollbar-thumb {
                background-color: #37a1bf;
                //outline: 1px solid silver;
              }
              overflow: auto;
              height: 250px;
            }
          }

        }
      }
      .service_on{
        position: relative;
      }
      .auto_service{
        position: relative;
        .service{
          position: absolute;
          z-index: 5;
          background: #fff8f8;
          display: block;
          padding: 0 5px;
          top: 19px;
          width: 400px;
          height: 300px;
          overflow-y: scroll;
          animation-name:service;
          animation-duration: 1s;
          @keyframes service {
            from{
              height: 100px;
            }
            to{
              height: 300px;
            }
          }
          >li{
            color: black;
            font-size: 18px;
            padding: 6px 5px;
            border: none;
            margin: 0;
            border-bottom: 1px solid silver;
            &:hover{
              background: #4f65a247;
              color:#0e6a99;
              transition: 0.5s;
            }
          }
          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(19, 18, 18, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color:#37a1bf;
            //outline: 1px solid silver;
          }
        }
      }
    }
  }
}
@media(max-width:1400px){
  .header_menu{
    .menu{
      .menu_button{
        background: red;
      }
    }
  }
}
@import "_media";

