@import "../../style/All";
@import "../../style/var";

.slider_auto{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid $main-color;
  .slider_img_header{
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    //margin: 5px;
    @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
      height:100px;
    }
    >div{
      width: 100%;
      //height: 100%;
      display: flex;
      justify-content: space-between;
      >span{
        font-size: 36px;
        color: #1c8080;
        cursor: pointer;
        &:last-child{
          color:$main-color ;
          font-size: 35px;
        }
        &:active{
          cursor: grabbing;
        }
      }
    }


  }

  .slider_img_body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    >div:last-child{
      border-right: none;
    }

    >div{
      max-width: 10%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 10px;
      cursor: pointer;
      transition: .3s;
      position: relative;
      .edit{
        position: relative;
        &::before{
          content: '';
          width: 13px;
          height: 15px;
          display: block;
          position: absolute;
          right: -5px;
          top: 15px;
          z-index: 1;
        }
        >span{
          font-size: 22px;
          animation-name: deleter;
          animation-duration: 0.3s;
          color: red;
          position: absolute;
          right: -10px;
          top: 5px;
          padding: 0 5px;
        }
        @keyframes deleter {
          0%{
            right: -10px;
          }
          10%{
            right: -8px;
          }
          20%{
            right: -10px;
          }
          30%{
            right: -12px;
          }
          40%{
            right: -10px;
          }
          50%{
            right: -8px;
          }
          60%{
            right: -10px;
          }
          70%{
            right: -12px;
          }
          80%{
            right: -10px;
          }
        }
      }
      &:hover{
        transform: scale(1.2);

      }
      &:last-child:hover{
        border-right: none;
      }
      &:first-child:hover{
        border-left: none;
      }
      &:active{
        cursor: grabbing;
      }
      &:last-child{
        border-right: none;
      }
      &:first-child{
        border-left: none;
      }
    }


  }
}
.modal_zoom_auto_on{
  color:$main-color ;
  font-size: 35px;
  position: absolute;
  bottom:  5px;
  right: 25px;
}
.modal_zoom_auto{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  z-index: 1005;
}
.add__img,.add__img-big{
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
  &-big{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 25%;
  }
  >span{
    z-index: 5;
  }
  .bg{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #929292;
    color: #ffffff;
    cursor: pointer;
    transition: .3s;
    position: absolute;

  }
  &:hover .bg{
    background: #4f4f4f;
  }
  >input{
    display: none;
  }
}
.loading_slider,.loading_slider-img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 150;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: lighten($black, 70);

  //color: #00ff3f;


}
.loading_slider-img{
  background: none;

}
.edit_icon{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 22px;
  cursor: pointer;
  transition: .3s;
  color: lighten($black, 30);
  opacity: 0;
  &:hover{
    color: lighten($black, 20);

  }

}
.slider_auto:hover .edit_icon{
  opacity: 1;
}