@import "../../style/All.scss";
@import "../../style/var.scss";

.Login,.Signin{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;


  .Login__content{

    height: calc(100vh - 260px);
    box-shadow: none;

    @media (max-width: $mobilee) {
      &{
        width: 90%;
        height: 200px;
      }
    }
  }
  &__content{
    width: 50%;
    height: 80px;
    border-radius: 5px;
    position: relative;
    @media (max-width: $mobilee) {
      &{
        width: 90%;

      }
    }


    form{
      width: 80%;
      height: 80%;
      position: absolute;
      top: 0;


    }
  }
  &__links{
    width: 80%;

  }
  &__btn{
    margin-top: 10px;
  }
}

.Account{
  width: 100%;
  min-height: 100vh;
  &__container{
    width: 100%;
    height: 100vh;
  }
}

.phone_style{
  width: 100%;
  //border: solid red;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  input{
    width: 85%;
    border-radius:0 5px 5px 0 ;
    &:focus{
      //width: 80%;
      border: none;
      box-shadow: 0 0;
    }

  }
  &:before{
    content: '+374';
    width: 15%;
    height: 36px;
    left: 0;
    background: #968d8d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px 0 0 5px ;
    color: white;
    font-size: 14px;
  }
}


.Login__links {
  @media (max-width: $mobilee) {
    & {
      position: absolute;
      bottom: -20px;
      left: 0px;

      a {
        font-size: 12px;
      }

    }
  }
}
  @media (max-width: $mobilee) {
    .Signin__content {
      min-height: 100vh;
      min-width: 100%;
    }
  }
