@import "../../../../style/All";
@import "../../../../style/var";

.slider_auto{
  width: 100%;
  display: flex;
  flex-direction: column;
  //box-shadow: 0px 0px 4px silver;
  box-shadow: -1px -1px 6px #c8bebe, 1px 1px 6px #8a8282;
  border-radius: 5px;
  .slider_img_header{
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    padding: 5px;
    //margin: 5px;
    >div{
      width: 100%;
      //height: 100%;
      display: flex;
      justify-content: space-between;
      >span{
        font-size: 36px;
        color: #1c8080;
        cursor: pointer;
        &:last-child{
          color:$main-color ;
          font-size: 35px;
        }
        //background-color: #b9c1df;
        &:active{
          cursor: grabbing;
        }
      }
    }


  }

  .slider_img_body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    >div:last-child{
      border-right: none;
    }
    >div{
      max-width: 10%;
      background-size: contain;
      border-top: 1px solid white;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 10px;
      cursor: pointer;
      &:hover{
        margin: 0;
        max-width: 50%;
        transition: 1.3s;
      }
      &:last-child:hover{
        border-right: none;
      }
      &:first-child:hover{
        border-left: none;
      }
      &:active{
        cursor: grabbing;
      }
      &:last-child{
        border-right: none;
      }
      &:first-child{
        border-left: none;
      }
    }


  }
}
.modal_zoom_auto_on{
  color:$main-color ;
  font-size: 35px;
  position: absolute;
  bottom:  5px;
  right: 25px;
}
.modal_zoom_auto{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: black;
  z-index: 1005;
}