@import "../../style/var.scss";

//.auto_service_add{
//  //border: 1px solid red;
//  padding:0 10px;
//  &__links{
//    height: 100px;
//    display: flex;
//    .auto_service_link{
//      padding: 15px 20px;
//      color: white;
//      background: $main-color;
//      border-radius: 5px;
//    }
//    .auto_service_link_active{
//      background: #0e6a99;
//    }
//    ul{
//      display: flex;
//      width: 100%;
//      background: #cfcece;
//      border-radius: 5px;
//      padding: 0 10px;
//      li{
//        margin-right:15px;
//        display: flex;
//        align-items: center;
//      }
//    }
//
//  }
//
//
//
//}
.formAutoService{
  //background: red;
  &__score_list{
    display: flex;
    margin-top: 10px;
    height: 50px;
    align-items: center;
    li{
      margin-left: 10px;
      input{
        margin-left: 10px;
      }
      label{
        padding: 15px 20px;
        color: white;
        background: $main-color;
        border-radius: 5px;
        cursor: pointer;
      }
    }

  }
  &__list{

  }
  &__scrollBar{
    height: 400px;
    overflow: auto;
    min-height: 200px;
    margin-top: 10px;
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #0e6a99;
      outline: 1px solid silver;
    }
    //background: #0e6a99;
    .price_list{

      ul{
        display: flex;
        border-radius: 5px;
        margin-bottom: 1px;
        background: #bcb9b9;

        li{
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(1){
            width: 3%;
            cursor: pointer;
          }
          &:nth-child(2){
            width: 40%;
            font-size: 14px;
            justify-content: start;
            cursor: pointer;
          }
          &:nth-child(3){
            width: 57%;
            padding: 0 10px;
            input{
              width: 100%;
              border-radius: 0;
            }
          }
        }
      }

    }
  }

  &__button{
    background: #cfcece;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    button{
      background: #0e6a99;
      color: white;
    }
  }
}