
@media (max-width: $mobilee) {
    .cars_forma{
      h1{
        font-size: 14px;
        margin: 10px 0;
      }
      #add__auto{
        width: 100%;

        justify-content: center;
        .items{
          width: 80%;
          input,select{
            width: 100%;
          }
        }
      }
    }
}