@import "../../../style/All.scss";
@import "../../../style/var.scss";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton');
.User{

  .car{
    margin: 0 0 20px 0;
    background: white;
    color:$main-color;



    .block-left{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //border: 1px solid red;

      .car_name{
        font-family: 'Anton', sans-serif;
        font-weight: bold;
        font-size: 24px;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .car_slider{
        width: 80%;
        padding:0 20px 20px 20px;
        //height: 90%;
      }


    }

    .block-right{
      width: 100%;
      display: flex;
      flex-direction: column;
      //align-items: center;
      justify-content: center;
      //border: 1px solid red;
      .car_info{
        >nav{
          display: flex;
          width: 100%;
          justify-content: space-around;
          ul{

          }
          ul:nth-child(1){
            font-size: 18px;
            font-weight: bold;
          }
          ul:nth-child(2){
            font-size: 18px;
          }

        }
      }
    }


  }

}

