
@import "../../../style/All";
@import "../../../style/var";

.message_users_component{
  display: flex;
  flex-direction: column;

  .message_reload{
    width: 100%;
    height: 70px;
    background: silver;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    >span{
      padding: 15px;
      background: #0e6a99;
      font-size: 18px;
      border-radius: 5px;
      color: white;
      margin-right: 20px;
      box-shadow: 2px 3px 1px black;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      &:active{
        transform: translateY(2px);
        box-shadow: 1px 1px 1px black;

      }



    }

    .message_reload_button{
      svg{
        animation-name: example;
        animation-duration: 1s;
        @keyframes example {
          from {transform: rotate(0);}
          to {transform: rotate(360deg);}
        }
      }
    }
  }
}
.message_users{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  word-break: break-all;
  .respondent{
    width: 30%;
    height: 100%;
    background: #c5c5c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 0px 0px 1px #acabab;
    //@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    //  width: 0;
    //  position: absolute;
    //  z-index: 5;
    //  //align-items: flex-end;
    //  transition: 1s;
    //  &:before{
    //    content: '';
    //    position: absolute;
    //    right: 0;
    //  }
    //}
    &__users{
      width: 100%;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .user_span{
        background: #0e6a99;
        color: white;
        padding: 10px 10px;
        cursor: pointer;
        position: relative;
        width: 80%;
        display: flex;
        justify-content: center;
        transition: .3s;
      }
      .active{
        margin-bottom: 20px;
        &::after{
          content: '';
          display: block;
          border: 10px solid transparent;
          border-top: 10px solid #0e6a99;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -20px;

        }
      }
    }
    &__stores{
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .user_span{
        background: #0e6a99;
        color: white;
        padding: 10px 13px;
        cursor: pointer;
        position: relative;
        display: flex;
        width: 80%;
        justify-content: center;
        transition: .3s;

      }
      .active{
        margin-bottom: 20px;
        &::after{
          content: '';
          display: block;
          border: 10px solid transparent;
          border-top: 10px solid #0e6a99;
          position: absolute;
          bottom: -20px;

        }
      }
    }
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #404051;
      outline: 1px solid silver;
    }
    .respondent_user_active{
      border: 3px solid #0e6a99;
    }
    .respondent_user{
      width: 95%;
      height: 70px;
      background: $main-color;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 10px 0;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      position: relative;


      //@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
      //  display: none;
      //  width: 70%;
      //}
      &:first-child{
        margin-top: 5px;
      }
      .click{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 1;
        top: 0;
        left: 0;
      }

      .respondent_user_image{
        width: 50px;
        height:50px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        //border: 2px solid white;
        background-position: center;
      }

      .respondent_user_name{
        width: 70%;
        height:70px;
        display: flex;
        //justify-content: space-around;
        //align-items: self-end;
        >div{
          &:nth-child(1){
            width: 80%;
            display: flex;
            align-items: center;
            >span{
              margin-left: 3px;
              color: #ffffff;
              font-size: 14px;
            }
          }

          &:nth-child(2){
            display: flex;
            flex-direction: column;
            width: 15%;
            >span{
              &:nth-child(1){
                font-size: 9px;
              }

              &:nth-child(2){
                //width: auto;
                //height: auto;
                width: 10px;
                height: 10px;
                font-size: 10px;
                border-radius: 50%;
                background: red;
                position: absolute;
                right: 5px;
                top:-10px;
              }

              font-size: 12px;
              margin-top: 15px;
              margin-left: 3px;
              color: #ffffff;
            }
          }


        }

      }
      .respondent_user_clear{
        //height: 80%;
        //border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        color:white;
        position: relative;

        &::before{
          content: '';
          display: block;
          width: 15px;
          height: 20px;
          position: absolute;
          z-index: 15;
          cursor: pointer;
        }


        >span{
          z-index: 5;
          position: absolute;
          z-index: 2;
          cursor: pointer;

        }
        &:hover > span{
          color: #ef0a0a;
        }
      }
    }
    > div{

      .status{
        position: absolute;
        right: 5px;
        top: -10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: red;

      }
    }
  }

  //message
  .message{
    width: 70%;
    height: 100%;
    background: #c5c5c5;
    position: relative;
    box-shadow: 0px 0px 0px 1px #acabab;
    //@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    //  width: 100%;
    //  button{
    //    display: none;
    //  }
    //}
    //.open_respondent{
    //  position: absolute;
    //  right: 9px;
    //  top: -30px;
    //  font-size: 2em;
    //  //background: silver;
    //  display: flex;
    //  z-index: 5;
    //}
    .getMessage{
      &__user{
        width: 100%;
        height: 100%;

        .getMessage_users{
          width: 100%;
          height: 75%;
          padding-bottom: 20px;
          box-shadow: 0px 0px 0px 1px #acabab;
          //background: red;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 2px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: #404051;
            outline: 1px solid silver;
          }
          .block_message{
            width: 100%;
            display: flex;
            height: auto;

            padding: 0px 10px;


            >div{
              max-width: 75%;
              height: auto;
              padding: 10px;
              border-radius: 15px;
              display: flex;
              justify-content: center;
              flex-direction: column;
              position: relative;
              cursor: pointer;


            }
          }
          .block_message_user1{
            justify-content: flex-start;
            &:nth-child(even) > div{
              border-radius: 0px 15px 15px 15px;
            }
            & > div {
              margin: 5px 0px;
              background: #a3a3a3;
              &:hover > span:nth-child(1){
                opacity: 1;
              }

              >span{

                &:nth-child(1){
                  font-size: 12px;
                  position: absolute;
                  right: -125px;
                  padding: 5px;
                  background: #a3a3a3;
                  border-radius: 5px;
                  opacity: 0;
                  transition: 1s;
                }

              }
            }
            &:nth-child(odd) > div{
              border-radius: 15px 15px 15px 0px;
            }
          }
          .block_message_user2{
            justify-content: flex-end;
            & > div {
              margin: 5px 0px;
              &:hover > span:nth-child(1){
                opacity: 1;
              }

              >span{

                &:nth-child(1){
                  font-size: 12px;
                  position: absolute;
                  left: -125px;
                  color: $white;
                  padding: 5px;
                  background: lighten($main-color, 20);
                  border-radius: 5px;
                  opacity: 0;
                  transition: 1s;
                }

              }
            }
            &:nth-child(even) > div{

              border-radius: 15px 0px 15px 15px;
            }
            &:nth-child(odd) > div{
              border-radius: 15px 15px 0px 15px;
            }
            >div{
              background: lighten($main-color, 20);
              color: white;
            }
            //background: #1c8080;
          }
        }

        .send_message{
          width: 100%;
          height: 25%;
          box-shadow: 0px 0px 0px 1px #acabab;
          >form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            .message_text{
              resize: none;
              border: none;
              border-radius: 5px;
              width: 90%;
              height:70%;
              @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                height: 100%;
              }
            }
            .message_send_button{
              margin-top: 5px;
              width: 90%;
              display: flex;
              justify-content: flex-end;
              //height:70%;
            }

          }

        }
      }

    }
  }


}
