//@import "../../style/All.scss";
@import "../../style/var.scss";
@media (max-width: $desktop){
  header{
    .header__log{
      width: 25%;
      min-width: 230px;
      img{
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $ipadePro){
  header{
    .header__log{
      width: 25%;
      img{
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
  .persional__info{
    //width: auto;
    //min-width:100px;
    .persional__data{
      .persional__header{
        //width: 100px;
        .fullname{
          //display: none;
        }


        .img{

        }
        .fullname{
          >span{
            margin: 0 2px;
          }

        }
      }

      .persional__body{
        width: 220px;
        >nav{

          li{

            >div:nth-child(1){

            }
            >div:nth-child(2){

            }

            >span{
            }
          }
        }


        .persional__setings{
          margin: 20px 0;
          width: 100%;
          display: flex;
          color: white;
          justify-content: flex-end;
          padding-right: 50px;
        }
      }

      .phone{
        width: 100%;
      }
    }
  }
}

@media (max-width: $ipade){
  header{
    height: 120px;
    padding: 0px 5px;
    .header__desktop{
      justify-content: flex-start;
      &>div{
        margin: 0 auto;
      }
      .Search{
        display: none;
      }
      .header__link{
        //margin-left: 15px;
        //letter-spacing: 2px;
        font-size: 12px;
        padding: 5px 7px;
        &-message{
          font-size: 15px;
          padding: 5px 7px;
          border-radius: 6px;
          display: none;
        }

      }
    }
    .header__phone{
      display: block;

    }
    .header__log{
      width: 25%;
      img{
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
  .persional__info{
    .persional__data{
      .persional__header{
        .fullname{
          >span{
            margin: 0 2px;
          }
        }
      }

      .persional__body{
        width: 220px;
        .persional__setings{
          margin: 20px 0;
          width: 100%;
          display: flex;
          color: white;
          justify-content: flex-end;
          padding-right: 50px;
        }
      }

      .phone{
        width: 100%;
      }
    }
  }

}




@media (max-width: $mobilee){
  header{
    height: 80px;
    padding: 0px 5px;
    .header__desktop{
      justify-content: space-between;
      .Search{
        display: none;
      }
      &>div{
        margin: 0 ;
      }

      .header__link{
        //margin-left: 15px;
        //letter-spacing: 2px;
        margin: 0 10px;
        font-size: 2.5vw;
        padding: 3px 4px;

      }
    }
    .header__phone{
      display: block;

    }
    .header__log{
      width: 10%;
      min-width: 190px;
      margin: 0;
      img{
        max-width: 100%;
        cursor: pointer;
      }
    }
  }
  .persional__info{
    width: auto;
    height: 20px;
    min-width:50px;
    display: flex;
    align-items: center;
    .persional__data{
      width: 30px;
      height:auto;
      .persional__header{
        width: 100px;
        .fullname{
          display: none;
        }
        .img{
          display: none;
        }


        .img{

        }
        .fullname{
          >span{
            margin: 0 2px;
          }

        }
      }

      .persional__body{
        width: 220px;
        display: none;
        >nav{

          li{

            >div:nth-child(1){

            }
            >div:nth-child(2){

            }

            >span{
            }
          }
        }


        .persional__setings{
          margin: 20px 0;
          width: 100%;
          display: flex;
          color: white;
          justify-content: flex-end;
          padding-right: 50px;
        }
      }

      .phone{
        width: 100%;
      }
    }
  }

}