@import "../../style/All.scss";
@import "../../style/var.scss";

header{
  background-color: $main-color;
  width: 100%;
  height: 60px;
  position: relative;




  .header__log{

    > img{
      width: 60px;

    }
  }
}
