@import "var";

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}
.justify-start{
  justify-content: flex-start;
}
.justify-center{
  justify-content: center;
}
.justify-end{
  justify-content: flex-end;
}
.justify-between{
  justify-content:space-between;

}
.justify-around{
  justify-content:space-around;
}
.align-items{
  align-items: center;
}
.wrap{
  flex-wrap: wrap;
}
.overflow-y-auto{
  overflow-y: auto;
}

input{
  padding: 5px 15px;
  border-radius: 5px;
  border: none
}
input:focus{
  border: 1px solid  $main-color;
}


.align-start{
  align-items: flex-start;
}
.align-center{
  align-items: center;
}
.align-end{
  align-items: flex-end;
}
.align-baseline{
  align-items: baseline;
}
input{
  border: 1px solid transparent;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px 0;
}

input:focus{
  border: 1px solid  $main-color;
}
select{

  background-color: $white;
  cursor: pointer;
  transition: .3s;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 0;

  &:hover{
    box-shadow: 0px 0px 2px;
  }
}
.link{
  color: lighten($main-color,30);
  font-size: 16px;
  padding: 5px 15px;
  transition: .3s;
  &:after{
    content: '';
    display: block;
    width: 105%;
    height: 2px;
    background-color: $main-color;
    margin-top: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: .3s;
  }
  &:hover{
    color: $main-color;

  }
  &:hover:after{
    transform: scaleX(1);
  }
}

.file{
  width: 100%;
  background-color: $white;
  margin: 5px 0;
  padding: 12px;
  cursor: pointer;
  position: relative;
  color: darken($white, 50);
  border-radius: 5px;
  &:after{
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(https://brutal.am/Server/img/icon/upload.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;

  }
  >span{
    font-size: 10px;
  }
  input[type="file"] {
    display: none;

  }

}