@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$main-color: #101423;
$color-btn: #143645;
$white: #ffffff;
$black: #000000;
$color-1: #1c8080;



$number-auto-icon: "https://brutal.am/Server/img/icon/auto-number.jpg";
$btn-1:"https://brutal.am/Server/img/icon/Circle.png";
$btn-2: "https://brutal.am/Server/img/icon/insideCircle.png";