@charset "UTF-8";

$main-color: #666374;
$color-btn: #322C4A;
$link-color: #E3DCD9;
$border-color: #c9b6cd;
$white: #ffffff;
$black: #373737;
$color-1: #1c8080;
$placeholder: #c9b6cd;



$number-auto-icon: "https://brutal.am/Server/img/icon/auto-number.jpg";
$btn-1:"https://brutal.am/Server/img/icon/Circle.png";
$btn-2: "https://brutal.am/Server/img/icon/insideCircle.png";



///media

$desktop: 1440px;
$ipadePro: 1024px;
$ipade: 768px;
$mobilee: 480px;
