@import "var";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: Arial, sans-serif;

}
body{
  background: #e1e1e1;


  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(16, 16, 16, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #737373;
    outline: 1px solid silver;
  }
}


.App{
  width: 100%;
  min-height: 100vh;
}
.margin-top{
  display: flex;
  width: 100%;
  height: 120px;
  @media (max-width: $ipade) {
    height: 180px;
  }
  @media (max-width: $mobilee) {
    height: 140px;
  }
}
.Loading{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pos_fix{
  position: fixed;
  z-index: 1;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  & span{
    font-size: 30px;
  }
  &__facebook{
    //border: 1px solid red;
    //display: flex;
    //justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 60px;
    //box-shadow: 1px 1px 1px red;
    clip-path: polygon(100% 0, 100% 38%, 100% 100%, 18% 100%, 18% 41%);    position: relative;
    background:$main-color;
    margin-bottom: 1px;
    & > a {
      position: absolute;
      top: 23px;
      left: 18px;
      color: white;
    }
  }
  &__instagram{
    position: relative;
    width: 50px;
    height: 60px;
    clip-path: polygon(100% 0, 100% 38%, 100% 100%, 18% 100%, 18% 41%);    position: relative;
    transform: rotateX(180deg);
    background: $main-color;
    & >  a{
      transform: rotateX(180deg);
      position: absolute;
      top: 23px;
      left: 18px;
      color: white;
    }
  }
}
.burger{
  width: 30px;
  height: 30px;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: $white;
  right: 10px;
  top: 15px;
  cursor: pointer;
  display: none;
  z-index: 21;
  @media (max-width: 768px) {
    &{
      display: flex;
    }
  }
}
.main__load{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: $white;

}
.alert{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transition: .5s;
  position: fixed;
  top: 100px;
  left: 0;
  padding: 0 50px;
  z-index: 1500;
  animation-name: alert;
  animation-duration: 0.5s;
}


@keyframes alert {
  from {top:0;opacity: 0}
  to {top:100px;opacity: 1}
}
