@import "./src/style/var";
.score_page{
  width: 100%;
  //height: calc(100vh - 170px);
  display: flex;
  margin-top: 20px;
  border: 1px solid silver;
  border-right: 1px solid transparent;
  padding: 5px 0px 5px 5px;
  animation-name: scorePage;
  animation-duration: 1.5s;
  background: red;
  @media (max-width: 768px){
    flex-direction: column;
    height: auto
  }
  @keyframes scorePage {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }


  .score_page_info{
    position: relative;
    width: 40%;
    animation-name: score_page_info;
    animation-duration: 1.5s;

    //@keyframes score_page_info {
    //  from{
    //    transform: scale(2);
    //  }
    //  to{
    //    transform: scale(1);
    //  }
    //}
    .loading_score_setings{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 5;
    }
    .info__container{
      width: 100%;
      height: 30px;
      display: flex;
      align-items: center;
      position: relative;
      >li{
        display: flex;

        .icon{
          margin-right: 5px;
          color: lighten($black,50);
        }
      }

      .edit{
        font-size: 18px;
        color: lighten($black, 30);
        cursor: pointer;
        margin-left: 10px;
        transition: .3s;
        opacity: 0;
        &:hover{
          color: $color-1;
        }
      }
      &:hover .edit{
        opacity: 1;
      }


      .form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        position: absolute;
        padding: 10px;
        display: none;
        >input,>select{
          width: 45%;
          @media (max-width: 768px){
            width: 100%;
          }
        }
        >select{
          option{
            color: black;
          }
        }
        .phone{
          margin-left: -10px;
        }
        .url{
          margin-left: -10px;
          width: 100%;
        }
        #addres{
          width: 100%;
        }

      }
    }
    .urls{
      margin: 5px;
    }
    .btns{
      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-start;
     > button{
        width: 30%;

        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }

    >nav{
      .links{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      >ul{
        padding-top: 10px;
        //border-bottom: 1px solid white;
        cursor: pointer;

        >ul{
          padding-left: 12px;
          font-size:1.1em;


        }
        >li{

          &:first-child{
            font-size: 12px;
            color: #322f35;

          }
        }
        a{
          color: lighten($black, 30);
          transition: .3s;
        }
        a:hover{
          color: #6610e7;
        }
      }
      .addres{
        display: flex;
        >li{
          padding-right:10px;
        }
      }
      .social_network{
        display: flex;
        >li{
          padding-right:10px;
          font-size: 25px;


          .facebook{
            color: #6610e7;

          }
          .instagram{
            color: #ae3264;
          }
          .youtube{
            color: #b11818;
          }
        }
      }
    }
  }

  //-------------
  .slider__container{
    width: 60%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (max-width: 768px){
      width: 100%;
    }
    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #404051;
      outline: 1px solid silver;
    }
    .add__img-big{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .score_page_slider{
      width: 100%;
      height: 50%;
    }

  }
}
