@media (max-width: $desktop) {
  .Search{
    > form {
      height: 2.5vw;
      min-height: 30px;
      input[type=text]{
        font-size: 12px;
      }
      .select{
        select{
          font-size: 12px;
        }
      }
      label{
        font-size: 16px;

      }
    }
  }
}


@media (max-width: $ipadePro) {

  .score_list_info{
    height: calc(100vh - 280px);
    m
    .score_list_info__header{
      li:nth-child(5){
        display: none;
      }
    }
    .score_list_info__body{
      max-height: 100%;
      .store_addres{
        display: none;
      }
      ul{
        .store_info, .new_model,.old_model,.store_phones{
          width: 25%;


        }
      }
    }


  }
  .Search{
    min-width: 100px;
    > form {
      input[type=text]{
        width:50%;
        font-size: 12px;
      }
      .select{
        width: 25%;
        select{
          font-size: 10px;
        }
        span{
          font-size: 10px;
        }
      }
      label{
        font-size: 10px;
        right: 26%;
      }
    }
  }
}


@media (max-width: $ipade) {
  .Search{
    min-width: 100px;
    width: 100%;
  }
  .Result{
    height: auto;
    .result_code{
      th{
        padding: 5px;
        font-size: 12px;
      }
      td{
        padding: 5px;
        font-size: 12px;
      }
    }
  }
  .score_list_info{
    height: calc(100vh - 320px);
    &__header{
      ul{
        li{
          font-size: 12px;
          padding: 0;
        }
      }
    }
    &__body{

      ul {

        li{
          font-size: 10px;
          padding: 5px;

        }
      }
    }
  }
}

@media (max-width: $mobilee) {
  .service__result{
    .service__container{
      &-header{
        width: 100%;
        li:nth-child(1),
        li:nth-child(2),
        li:nth-child(3){
          width: 33%;
        }

        li:nth-child(4),
        li:nth-child(5){
          display: none;
        }
      }
      &-body{
        .service_items{
          .service__logo,
          .service__phone,
          .service__desc{
            width: 33%;
          }

          .working__days,
          .service__address{
            display: none;
          }
        }

      }
    }
  }

  .score_list_global{

    .score_list_info{

      &__header{
        & > ul{
          li:nth-child(4),
          li:nth-child(5){
            display: none;
          }
        }
      }
      &__body{
        & > ul{
          li:nth-child(1),
          li:nth-child(2),
          li:nth-child(3){
            width: 33%;

          }

          li:nth-child(4),
          li:nth-child(5){
            display: none;
          }
        }
        .store_info{
          ul{
            width: 100%;
            display: flex;
            justify-content: center;

          }
        }
      }
    }
  }
  .Result{
      .result_code{

        th:nth-child(1),
        th:nth-child(2),
        th:nth-child(3),
        td:nth-child(1),
        td:nth-child(2),
        td:nth-child(3){
          width: 30%;
        }

        th:nth-child(4),
        th:nth-child(5),
        th:nth-child(6),
        th:nth-child(7),
        td:nth-child(4),
        td:nth-child(5),
        td:nth-child(6),
        td:nth-child(7){
          display: none;
        }
      }

  }

  .score_list_info{

    &__header{
      ul{
        li{
          font-size: 10px;
          padding: 0;

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(6),
          &:nth-child(7){
            display: none;
          }
        }
      }
    }
    &__body{
      ul {
        li{
          font-size: 8px;
          padding: 5px;

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(6),
          &:nth-child(7){
            display: none;
          }
          a{
            padding: 5px;
          }
        }
      }
    }
  }
  .service__container{
    &-header{
      li{
        font-size: 10px;

      }
    }

  }

}



