@media (max-width: $desktop) {
  .Search{
    > form {
      height: 35px;

      input[type=text]{
        font-size: 12px;
      }
      .select{
        select{
          font-size: 14px;
          width: 130px;
        }
      }
      label{
        right: 28%;
        font-size: 16px;
      }
    }
  }
}