@import "src/style/var";

.Search{
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
   > form{
     width: 100%;
     height: 40px;
     box-sizing: content-box;
     display: flex;
     align-items: center;
     position: relative;
     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 4px;
     border: 2px solid $border-color;


     input[type=text]{
       width: 70%;
       height: 100%;
       font-weight: bold;
       font-size: 17px;
       border-radius: 0;
       border-left: 1px solid $border-color;
       border-right: 1px solid $border-color;
       &:focus{
         box-shadow: none;
       }
       &::placeholder{
        color: $placeholder;
       }

     }
     label{
       font-size: 18px;
       position: absolute;
       right: 30%;
       z-index: 1;
       color: $placeholder;
       transition: .3s;
       cursor: pointer;

       &:hover{
         color: darken($placeholder, 10);
       }
     }
     input[type=submit]{
       display: none;

     }
     .select  {
       height: 100%;
       display: flex;
       align-items: center;
       select{
         width: 170px;
         height: 100%;
         border-radius: 0;
         font-size: 17px;
         font-weight: bold;
         color: $color-btn;
         padding: 0px 15px;
         appearance: none;
         -webkit-appearance: none;
         &:hover, &:focus{
           box-shadow: none;
         }
       }
       span{
         height: 100%;
         display: flex;
         align-items: center;
         background: $white;
         padding-right: 10px;
         color: $placeholder;

       }
       select:active + span svg{
         transform: rotate(180deg);
       }
     }
  }
}
.Result{
  width: 100%;
  height: calc(100vh - 210px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
  .result_code{
    width: 90%;
    max-height: 100%;
    border: 2px solid $main-color;
    border-collapse: collapse;


    th{
      background: $main-color;
      color: $white;
      padding: 10px 15px;
    }
    td{
      //border: 1px solid $main-color;
      padding: 10px 15px;
      text-align: center;
      cursor: pointer;

    }
    tr{
      transition: .3s;
      &:nth-child(odd){
        background: lighten($black, 80);
        transition: .3s;
      }
      &:nth-child(even){
        background: lighten($black, 90);
      }

      &:hover{
        background: lighten($main-color, 50);
      }
    }
  }
}
.score_list{
  width: 100%;
  height: calc(100vh - 230px);
  //padding: 20px;
  margin: 10px 0;
}
.message{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  > p{
    font-size: 18px;
    font-weight: bold;
    color: #7d7d7d;
    font-style: italic;
    border-bottom: 1px solid #999999;
  }
}
.table_style_header{
  ul{
    display: flex;
    background: #274498;
    li{
      width: 50%;
      padding: 5px 20px;
      border: 1px solid white;
      font-size: 0.9em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.table_style_body{
  height: auto;
  overflow: auto;
  max-height: 400px;
  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2727ab;
    outline: 1px solid silver;
  }
  ul{
    display: flex;
    //border: 1px solid red;
    //background: #fce8e8;
    &:nth-child(odd){
      background: #c3c1c1;
    }
    li{
      width: 50%;
      padding: 5px 10px;
      font-size: 0.9em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin: 3px 0;
      }
      >a{
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid #2727ab;
        color: #2727ab;
        font-weight: bold;
        transition: .3s;
        &:hover{
          background:  #2727ab;
          color: #ffffff;
        }

      }
    }
  }
  .anal__img{
    cursor: pointer;
  }
}
.detale_list{
  display: flex;
  justify-content: space-between;
  height: 340px;

  @media (max-width: 1024px) {
    &{
      flex-direction: column;
      transition: 1s;
    }
  }
  padding: 20px 0;
  .articul_list{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    box-shadow: 0px 0px 5px;

    @media (max-width: 1024px) {
      &{
        width: 100%;
        padding: 10px 0;
      }
    }
    &__header{
      ul{
        padding: 5px 0;
        padding: 5px 2.5px;
        li{
          width: 50%;
          color: #ffffff;
          margin: 0px 5px;
          font-weight: bold;

        }
      }
    }
    &__body{
      ul{
        padding: 2.5px;
        li{
          width: 50%;
          margin: 0px 5px;
          border:1px solid black;

        }
      }
    }
  }


  .articul_list_image{
    width: 49%;
    height: 300px;
    box-shadow: 0px 0px 3px;
    //border: 1px solid red;
    @media (max-width: 1024px) {
      &{
        width: 100%;
        padding: 5px 0;
      }
    }
  }
}
.detale_list_analog{
  display: flex;
  padding: 20px 0;
  box-shadow: 0px 0px 5px;
  margin-bottom: 20px;
  @media (max-width: 1024px) {
    &{
      flex-direction: column;
    }
  }
  .articul_list_analog{
    width: 50%;
    padding: 0 5px;
    //margin: 0 5px 0 0;
    @media (max-width: 1024px) {
      &{
        width: 100%;
        padding: 5px 0;
      }
    }
    .analog__title{
      > li{
        border: none;
        color: white;
      }
    }
  }

  .articul_list_auto{
    width: 50%;
    //margin: 0 0 0 5px;
    padding: 0 5px;
    @media (max-width: 1024px) {
      &{
        width: 100%;
        padding: 5px 0;
      }
    }
    .auto__title{

      > li {
        border: none;
        color: white;
      }
    }
  }
}
.title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  > p:nth-child(1){
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  > p:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #5b5b5b;
    >span{
      font-size: 18px;
      color: #2b2b2b;

    }
  }
}
.analog__count,.auto__title{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  > p{
    font-size: 18px;
    font-weight: bold;
  }
}
.full_img{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  >img{
    box-shadow: 0px 0px 10px;
  }
  &-icon{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 25px;
    color: #6e6e6e;
    transition: .3s;
    cursor: pointer;

    &:hover{
      color: #f61010;
    }
  }
}
@import "./media";