.Auto_parts{
  .message{
    color: red;
    font-style: italic;
    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: red;
      margin-top: 2px;
    }
  }
  .parts_form{


    .get_parts_category{
      .add_auto_parts{
        background: silver;
        padding: 20px;

        &-btn{
          width: 100%;
          display: flex;
          align-items: center;
          position: relative;

          .loading_btn{
            position: absolute;
            left: 50px;
          }

        }
        &-links{
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          >a{
            padding: 5px 10px;
            border: 2px solid #0e6a99;
            margin: 0px 5px;
            color: #0e6a99;
            font-weight: bold;
            position: relative;
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            transition: .3s;
            &:hover {
              background: #0e6a99;
              color: white;
            }


          }
          .active{
            background: #0e6a99;
            color: white;
            &::after{
              content: '';
              display: block;
              border: 15px solid transparent;
              border-top: 15px solid #0e6a99;
              position: absolute;
              bottom: -30px;

            }
          }


        }
        button{
          margin: 5px 0;
        }
        .score_list{
          padding: 10px 0;
          margin-bottom: 5px;
          label{
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            margin-right: 5px;
            background: #7c7c7c;
            color: white;
          }
          input{
            &:focus{
              box-shadow: none;
            }
          }
        }
        .score_parts_form{
          >input{
            margin-right: 15px ;
            border: 1px solid black;
          }
        }

        .score_parts_view{
          padding: 10px 0;
          margin: 5px 0;
          .parts_image{
            width: 32%;
          }
          label{
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            margin:15px 10px 5px 0;
            background: #7c7c7c;
            color: white;
          }
          input{
            &:focus{
              box-shadow: none;
            }
          }
        }
      }

      .auto_mark{
        display: flex;
        margin-bottom: 15px;
        width: 70%;
        border: 1px solid #949494;

        input[type=checkbox]{
          width: 15px;
          height: 15px;
          margin: 0px 5px;
          cursor: pointer;
        }

        >ul{
          width: 100%;
          overflow: auto;
          height: 500px;
          &::-webkit-scrollbar {
            width: 2px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: #2727ab;
            outline: 1px solid silver;
          }
          > li{
            padding: 5px ;
            font-size: 12px;
            border: 0.5px solid #949494;

            .open_models{
              position: relative;
              &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
              }
            }
            >ul{

              &:nth-child(1){
                display: flex;
                align-items: center;

                >li{
                  padding: 5px 5px;
                  display: flex;
                  &:nth-child(1){
                    width: 150px;
                    background:  rgb(0, 117, 255);
                    padding: 5px 15px;
                    margin: 2px 0;
                    font-size: 14px;
                    color: white;
                  }
                  &:nth-child(2){
                    margin-left: -30px;

                  }
                  &:nth-child(3){
                    margin: 2px 30px;
                    padding: 5px 5px;
                    border: 1px solid #B5B5B5;
                    border-radius: 5px;
                    font-size: 14px;
                    color: #646464;
                  }
                  &:nth-child(4){
                    margin: 2px 0px;
                    padding: 5px 5px;
                    border: 1px solid #B5B5B5;
                    border-radius: 5px;
                    font-size: 14px;
                    color: #646464;
                  }

                }
              }
              &:nth-child(2){
                  width: 100%;
                padding: 10px 0;
                ul{
                  padding: 0 5px;
                  display: flex;
                  position: relative;
                  li{
                    display: flex;
                    align-items: center;
                    &:nth-child(1){
                      width: 150px;
                      background:  rgb(0, 117, 255);
                      padding: 5px 15px;
                      margin: 2px 0;
                      font-size: 14px;
                      color: white;
                    }
                    &:nth-child(2){
                      margin-left: -25px;

                    }
                    &:nth-child(3){
                      margin: 2px 30px;
                      padding: 5px 5px;
                      border: 1px solid #B5B5B5;
                      border-radius: 5px;
                      font-size: 14px;
                      color: #646464;
                    }
                    &:nth-child(4){
                      margin: 2px 0px;
                      padding: 5px 5px;
                      border: 1px solid #B5B5B5;
                      border-radius: 5px;
                      font-size: 14px;
                      color: #646464;
                    }
                  }
                }

                margin-left: 25px;
                display: none;
              }
              //position: absolute;
            }
          }
        }
      }
      .select_store{
        width: 100%;
        //border: 1px solid red;
        margin: 15px 0;
        background: silver;
        padding: 20px;
        select{
          width: 20%;
        }
      }
      .pars_image_open{
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        z-index: 5;
        background: black;
        >div{
          width: 100%;
          height: 100%;
          //background: red;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          span{
            position: absolute;
            color: white;
            font-size: 64px;
            right: 20px;
            top: 20px;
          }
        }


      }
      .get_list_auto_parts{
        margin-top:15px ;
        width: 100%;
      .open_list{
        position: relative;
        //background: red;
        &:after{
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 5;
          //background: red;
        }
      }
        background: silver;
        .list_header{
          width: 100%;

          >ul{
            display: flex;
            background: #5e859d;
            color: white;
            li{
              padding: 5px;
              //border: 1px solid black;
              width: 100%;
              font-size: 0.7em;
              box-shadow: 0 0 2px white;
              display: flex;
              align-items: center;
              justify-content: center;

            }

          }

        }
        .list_body{
          width: 100%;
          height: 500px;
          overflow: auto;
          position: relative;
          &::-webkit-scrollbar {
            width: 2px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: #2727ab;
            outline: 1px solid silver;
          }
          .store_name{
            select{
              border: none;
              border-radius: 0;
              margin: 0;
              background: none;
              &:hover{
               border: 0;
              }
            }
          }
          >ul{
            display: flex;
            transition: .3s;
            width: 100%;
            option{
              background: #00000090;
            }
            &:hover{
              background: #00000090;
              color: white;
              select{
                color: white;
              }

            }
            &:nth-child(odd){
              background: #ececec;
              transition: .3s;
              &:hover{
                background: #00000090;
              }
            }
            .buttons{
              display: flex;
              justify-content: space-around;
              span{
                padding: 1px;
                cursor: pointer;
                &:nth-child(1){
                  color: #f4d644;
                  transition: .3s;
                  &:hover{
                    color: darken(#f4d644, 20);
                  }
                }
                &:nth-child(2){
                  color: #fd2f2f;
                  transition: .3s;
                  &:hover{
                    color: #fa0000;
                  }
                }
              }
            }
            li{
              //padding: 5px;
              //height: 50px;
              width: 100%;
              font-size: 0.8em;
              display: flex;
              align-items: center;
              justify-content: center;
              border-right: 1px solid #0e6a99;

              margin: 2px 0;
              > span{
                position: relative;
                &::before{
                  content: '';
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 1;
                }
              }
              > img {
                width: 30px;
                height: 30px;
              }
            }

          }
          .edit{
            border-radius: 5px;
            position: fixed;
            right: 75px;
            display: flex;
            align-items: center;
            z-index: 10;
            box-shadow: 0px 0px 5px;
            background: white;
            padding: 5px 10px;
            >input{
              margin: 0px 2.5px;
              padding: 10px 15px;
              box-shadow: 0px 0px 5px;
            }
            >button{
              border: 2px solid #0e6a99;
              color: #0e6a99;
              padding: 7px 14px;
              transition: .3s;
              &:hover{
                background: #0e6a99;
                color: white;
              }
            }
          }

        }
      }
    }
  }
}
.category-parts{
  display: flex;
  height: 100px;
  background: silver;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    //margin: 10px 0;
    margin-right: 10px;
    >input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    >.slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
  .add__product-btn{
    width: auto;
    height: 50px;
    display: flex;
    position: relative;
    .loading_btn{
      position: absolute;
      top: 3px;
      left: 0px;
      padding: 6px 55px;

    }
  }
}

