.Auto_parts{

  .parts_form{


    .get_parts_category{
      .add_auto_parts{
        background: silver;
        padding: 20px;
        button{
          margin: 5px 0;
        }
        .score_list{
          padding: 10px 0;
          margin-bottom: 5px;
          label{
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            margin-right: 5px;
            background: #7c7c7c;
            color: white;
          }
          input{
            &:focus{
              box-shadow: none;
            }
          }
        }
        .score_parts_form{
          >input{
            margin-right: 15px ;
            border: 1px solid black;
          }
        }

        .score_parts_view{
          padding: 10px 0;
          margin: 5px 0;
          .parts_image{
            width: 32%;
          }
          label{
            border: 1px solid black;
            border-radius: 5px;
            padding: 10px;
            margin:15px 10px 5px 0;
            background: #7c7c7c;
            color: white;
          }
          input{
            &:focus{
              box-shadow: none;
            }
          }
        }
      }
      .auto_mark{
        display: flex;
        margin-bottom: 15px;
        width: 70%;
        border: 1px solid #949494;
        >ul{
          width: 100%;
          overflow: auto;
          height: 500px;
          &::-webkit-scrollbar {
            width: 2px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: #2727ab;
            outline: 1px solid silver;
          }
          >li{
            padding: 5px ;
            //background: #0e6a99;
            font-size: 12px;
            //display: flex;

            border: 0.5px solid #949494;
            //align-items: center;
            .open_models{
              //background: red;
              position: relative;
              &:after{
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                //background: red;
              }
            }
            >ul{

              &:nth-child(1){
                display: flex;
                align-items: center;

                >li{
                  padding: 5px 5px;
                  input{
                    padding: 0;
                    margin: 0;
                  }
                  //border: 1px solid white;
                  //padding: 5px 5px;
                }
              }
              &:nth-child(2){
                  width: 100%;
                padding: 10px 0;
                ul{
                  //width: 50%;
                  padding: 0 5px;
                  display: flex;
                  background: #969393;
                  li{
                    &:nth-child(1){
                      width: 30%;
                    }
                    &:nth-child(){
                      width: 5%;
                    }
                  }
                }

                margin-left: 25px;
                display: none;
              }
              //position: absolute;
            }
          }
        }
      }
      .select_store{
        width: 100%;
        //border: 1px solid red;
        margin: 15px 0;
        background: silver;
        padding: 20px;
        select{
          width: 20%;
        }
      }
      .pars_image_open{
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        z-index: 5;
        background: black;
        >div{
          width: 100%;
          height: 100%;
          //background: red;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          span{
            position: absolute;
            color: white;
            font-size: 64px;
            right: 20px;
            top: 20px;
          }
        }


      }
      .get_list_auto_parts{
        margin-top:15px ;
        width: 100%;

        background: silver;
        .list_header{
          width: 100%;

          >ul{
            display: flex;
            background: #5e859d;
            color: white;
            li{
              padding: 5px;
              //border: 1px solid black;
              font-size: 0.7em;
              box-shadow: 0 0 2px white;
              display: flex;
              align-items: center;
              justify-content: center;

            }

          }

        }
        .list_body{
          width: 100%;
          height: 500px;
          overflow: auto;
          position: relative;
          &::-webkit-scrollbar {
            width: 2px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: #2727ab;
            outline: 1px solid silver;
          }
          .store_name{
            select{
              border: none;
              border-radius: 0;
              margin: 0;
              background: none;
              &:hover{
               border: 0;
              }
            }
          }
          >ul{
            display: flex;
            transition: .3s;
            option{
              background: #00000090;
            }
            &:hover{
              background: #00000090;
              color: white;
              select{
                color: white;
              }

            }
            &:nth-child(odd){
              background: #ececec;
              transition: .3s;
              &:hover{
                background: #00000090;
              }
            }
            .buttons{
              display: flex;
              justify-content: space-around;
              span{
                padding: 1px;
                cursor: pointer;
                &:nth-child(1){
                  color: #f4d644;
                  transition: .3s;
                  &:hover{
                    color: darken(#f4d644, 20);
                  }
                }
                &:nth-child(2){
                  color: #fd2f2f;
                  transition: .3s;
                  &:hover{
                    color: #fa0000;
                  }
                }
              }
            }
            li{
              //padding: 5px;
              //height: 50px;

              font-size: 0.8em;
              display: flex;
              align-items: center;
              justify-content: center;
              border-right: 1px solid #0e6a99;

              margin: 2px 0;
              > span{
                position: relative;
                &::before{
                  content: '';
                  display: block;
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  z-index: 1;
                }
              }
              > img {
                width: 30px;
                height: 30px;
              }
            }

          }
          .edit{
            border-radius: 5px;
            position: fixed;
            right: 75px;
            display: flex;
            align-items: center;
            z-index: 10;
            box-shadow: 0px 0px 5px;
            background: white;
            padding: 5px 10px;
            >input{
              margin: 0px 2.5px;
              padding: 10px 15px;
              box-shadow: 0px 0px 5px;
            }
            >button{
              border: 2px solid #0e6a99;
              color: #0e6a99;
              padding: 7px 14px;
              transition: .3s;
              &:hover{
                background: #0e6a99;
                color: white;
              }
            }
          }

        }
      }
    }
  }
}
.category-parts{
  display: flex;
  height: 100px;
  background: silver;
  align-items: center;
  padding: 20px;
  margin: 10px 0;
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    //margin: 10px 0;
    margin-right: 10px;
    >input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    >.slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;

      &:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 5px;
        bottom: 2.5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
    }

    input:checked + .slider {
      background-color: #2196F3;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
  }
  .add__product-btn{
    width: auto;
    height: 50px;
    display: flex;
    position: relative;
    .loading_btn{
      position: absolute;
      top: 3px;
      left: 0px;
      padding: 6px 55px;

    }
  }
}

.message{
  color: red;
  font-style: italic;
  &::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: red;
    margin-top: 2px;
  }
}