@import "src/style/var";
.Announcement{
  width: 100%;
  .content{
    width: 100%;
    height: calc(100vh - 210px);
    padding-top: 20px;


  }
  &__search{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    >div{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      color: red;
      label{
        width: 48%;
        position: relative;
        display: flex;
        align-items: center;
        select,input{
          width: 100%;
        }
        .icon{
          position: absolute;
          right: 5px;
          color: lighten($main-color, 50);
        }
      }
    }
    .btn{
      width: 100%;
      display: flex;
      justify-content: center;
      button{
        width: 150px;
      }
    }
  }
  .result{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 10px 10px;
    .result_auto{
      display: flex;
      flex-direction: column;
      width: 30%;

      padding: 20px 0;

      .img{
        width: 100%;
        height: 200px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

      }
      div{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        >h2{
          font-size: 18px;
          color: $main-color;

        }
      }
    }

  }
}