
.message_users_component{
  width: 100%;
  background: #c5c5c5;
  .message_users{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    .respondent{
      padding-top: 10px;
      width: 29.9%;
      .users{
        width: 100%;
        padding: 0 10px;
        .default_user{
          background: #0e6a99;
          color: brown;
          width: 100%;
          height: 65px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
          border-radius: 5px;
          margin-bottom: 10px;
          color: white;
        }
        .active_user{
          background: #025999;
          //box-shadow:
                  //2px 2px 8px rgba(0, 0, 0, .2),
                  //-2px -2px 8px rgba(0,0,0,.2),
                  //inset 0px 0px 5px 2px #008bd7;
                  //inset 0px 0px 10px 5px #000507,
                  //inset 10px 10px 15px 10px #1297db,
                  //inset -10px -10px 15px 10px #1297db;
          filter: drop-shadow(0px 0px 6px rgb(5, 0, 0));
        }
        ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          cursor: pointer;
          color: white;
          padding: 0 10px;
          & > li{
            &:nth-child(2){
              width: 70%;
              font-size: 14px;
            }
            &:nth-child(3){
              width: 10%;
              position: relative;
              z-index: 6;
              &:before{
                content: '';
                //background: red;
                position: absolute;
                z-index: 7;
                width: 100%;
                height: 100%;
              }
              &:hover{
                color: black;
              }
            }
            &:nth-child(1){
              width: 50px;
              height: 45px;
              border: 1px solid white;
              border-radius: 100%;
              overflow: hidden;
              display: flex;
              align-items: center;
              background: white;
              margin-right: 10px;
              img{
                width: 100%;
                object-fit: contain;
                //border-radius: ;
              }
            }
            .satatus_style{
              background: blue;
            }
            &:nth-child(4){
              width: 12px;
              height: 10px;
              border-radius: 50%;
              background: #d41c1c;
              margin-left: 5px;
              animation:status 0.5s linear infinite alternate ;
              filter: drop-shadow( 0px 0px 4px rgba(238, 10, 10,0.7))

            }
            @keyframes status {
              from{
                opacity: 0;
              }
              to{
                opacity: 1;
              }

            }
          }
        }

      }
    }

    .get_message{
      width: 69.9%;

      .message{
        width: 100%;
        height: 90%;
        & > ul{
          overflow: auto;
          width: 100%;
          height: 75%;
          &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(16, 16, 16, 0.3);
          }
          &::-webkit-scrollbar-thumb {
            background-color: #737373;
            outline: 1px solid silver;
          }
          .send{
            justify-content: flex-end;
            .message_request_style{
              .message_info{
                align-items: flex-end;
              }
              .message_text{
                width: 80%;
                margin-top: 5px;
                background: #5268bc;
                color: white;
                border-radius: 10px;
                padding: 15px;
                display: flex;
                justify-content: flex-end;
                width: auto;
                min-width: 30%;
              }

            }
          }
          .get{
            justify-content: flex-start;
            .message_request_style{
              .message_info{
                align-items: flex-start;
              }
              .message_text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              }


            }
          }
          .msStyle{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            .message_request_style{
              .message_info{
                background: #727eb3;
                color: white;
                border-radius: 10px;
                padding: 5px;
                display: flex;
                flex-direction: column;

                &__image{
                  display: flex;
                  justify-content: center;
                  li{
                    display: flex;
                    justify-content: center;
                    img{
                      max-width: 250px;
                      min-width: 200px;
                    }
                  }
                }
                &__description{
                  width: 100%;
                  color: black;
                  font-size: 14px;
                  border-radius: 5px;
                  padding: 5px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;

                  h2{
                    font-size: 16px;
                    width: 100%;
                    padding: 5px 0;
                    border-bottom: 1px solid #fafafa;
                    letter-spacing: 2px;
                  }
                }
              }
              .message_request{
                width: 100%;
                border-radius: 10px;
                padding: 5px 0px;
              }
              &  li{
                display: flex ;
                flex-direction: column;
                padding: 5px 0;
                background: none;
                p{
                  display: flex;
                  h3{
                    margin-right: 5px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
        .send_message{
          width: 100%;
          height: 25%;
          >form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            .message_text{
              resize: none;
              border: none;
              border-radius: 5px;
              width: 90%;
              height:70%;
              @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                height: 100%;
              }
            }
            .message_send_button{
              margin-top: 5px;
              width: 90%;
              display: flex;
              justify-content: flex-end;
              //height:70%;
            }
          }
        }
      }
    }
  }
}
.message_request-text{
  background: #727eb3;
  padding: 10px 20px;
  border-radius: 10px;
}
.R__link{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
}

