.message_users_component{
  width: 100%;
  background: #c5c5c5;
  .message_users{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .respondent{
      width: 30%;

      .users{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul{
          display: flex;
          align-items: center;
          justify-content: space-between;
          //border: 1px solid red;
          height: 65px;
          cursor: pointer;
          background: #0e6a99;
          border-radius: 5px;
          width: 100%;
          margin-bottom: 10px;
          color: white;
          padding: 0 10px;
          & > li{
            &:nth-child(2){
              width: 70%;
            }
            &:nth-child(3){
              width: 10%;
              position: relative;
              z-index: 6;
              &:before{
                content: '';
                //background: red;
                position: absolute;
                z-index: 7;
                width: 100%;
                height: 100%;
              }
              &:hover{
                color: red;
              }
            }
            &:nth-child(1){
              width: 20%;
              border: 1px solid white;
              border-radius: 100%;
              overflow: hidden;
              display: flex;
              align-items: center;
              background: white;
              margin-right: 10px;
            }
            &:nth-child(4){
              width: 12px;
              height: 10px;
              border-radius: 50%;
              background: #d41c1c;
              margin-left: 5px;
              filter: drop-shadow( 0px 0px 4px rgba(238, 10, 10,0.7))
            }
          }
        }

      }


      img{
        max-width: 100%;
      }


    }

    .get_message{
      width: 70%;
      //height: 100%;
      .message{
        width: 100%;
        //border:1px solid green;
        & > ul{
          overflow: auto;
          //border: 1px solid red;
          width: 100%;
          height: 75%;
          .send{
            justify-content: flex-end;
            .message_request_style{
              .message_info{
                align-items: flex-end;
              }
              .message_text{
                margin-top: 5px;
                background: #5268bc;
                color: white;
                border-radius: 10px;
                padding: 15px;
                display: flex;
                justify-content: flex-end;
                width: auto;
                min-width: 30%;
              }
              //& > li{
              //  border:1px solid #1c8080;
              //  &:last-child{
              //    margin-top: 10px;
              //    border-radius: 5px;
              //    background: white;
              //    color: black;
              //  }
              //}

            }
          }
          .get{
            justify-content: flex-start;
            .message_request_style{
              .message_info{
                align-items: flex-start;
              }
              .message_text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
              }


            }
          }
          .msStyle{
            width: 100%;
            display: flex;
            align-items: center;
            padding: 10px;
            .message_request_style{
              min-width: 30%;
              .message_info{
                background: #727eb3;
                color: white;
                border-radius: 10px;
                padding: 15px;
                display: flex;
                flex-direction: column;

                &__image{
                  //width: 100%;
                  display: flex;
                  justify-content: center;
                  li{
                    display: flex;
                    justify-content: center;
                    img{
                      max-width: 80%;
                      width: 250px;
                    }
                  }

                }
                &__description{
                  margin-top: 10px;
                  background: white;
                  color: black;
                  font-size: 14px;
                  border-radius: 5px;
                  padding: 5px;
                  box-shadow: 1px 2px 4px #6068b1;
                }
              }
              .message_text{
                margin-top: 5px;
                background: #5268bc;
                color: white;
                border-radius: 10px;
                padding: 15px;
                display: flex;
                justify-content: flex-end;
                width: auto;
                min-width: 30%;
              }
              & > li{
                border:1px solid #1c8080;
                &:last-child{
                  margin-top: 10px;
                  border-radius: 5px;
                  background: white;
                  color: black;
                }
              }

            }
          }
          //.get{
          //  width: 100%;
          //  display: flex;
          //  justify-content: flex-start;
          //  .message_request_style{
          //    width: 48%;
          //    //border: 1px solid blue;
          //    background: #7e7e7e;
          //    border-radius: 10px;
          //    min-height: 80px;
          //    padding: 15px;
          //    .message_info{
          //      background: #727eb3;
          //      color: white;
          //      border-radius: 10px;
          //      padding: 15px;
          //      display: flex;
          //      justify-content: flex-start;
          //    }
          //    .message_text{
          //      margin-top: 5px;
          //      background: #5268bc;
          //      color: white;
          //      border-radius: 10px;
          //      padding: 15px;
          //      display: flex;
          //      flex-direction: column;
          //      align-items: flex-start;
          //    }
          //    & > li{
          //      border:1px solid #1c8080;
          //      &:last-child{
          //        background: white;
          //        color: black;
          //      }
          //    }
          //    img{
          //      max-width: 100%;
          //      width: 150px;
          //    }
          //  }
          //}
        }
        .send_message{
          width: 100%;
          height: 25%;
          //box-shadow: 0px 0px 0px 1px #acabab;
          >form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            .message_text{
              resize: none;
              border: none;
              border-radius: 5px;
              width: 90%;
              height:70%;
              @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
                height: 100%;
              }
            }
            .message_send_button{
              margin-top: 5px;
              width: 90%;
              display: flex;
              justify-content: flex-end;
              //height:70%;
            }
          }
        }
      }
    }
  }
}
.R__link{
  position: relative;justify-content: space-between;
  display: flex;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
  }
}

