@import "./src/style/var";
.ScoreList{
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  padding: 0px 15px;
  .phone_style{
    width: 90%;
    //border: solid red;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    input{
      width: 85%;
      border-radius:0 5px 5px 0 ;
      &:focus{
        //width: 80%;
        border: none;
        box-shadow: 0 0;
      }
    }
    &:before{
      content: '+374';
      width: 15%;
      height: 35px;
      left: 0;
      background: #968d8d;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      border-radius:5px 0 0 5px ;
      color: white;
      font-size: 12px;
      //border: solid green;
    }
  }
  .score__list-links{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid $main-color;
    padding: 0px 5px;
    >ul{
      width: 100%;
      height: 100%;
      display: flex;

      justify-content: flex-start;
      align-items: center;

      li {
        border: 1px solid $main-color;
        transform: skew(-20deg);
        margin: 0px 3px;
        cursor: pointer;
        position: relative;

        transition: .3s;
        a,.show__form{
          display: flex;
          color: $main-color;
          padding: 5px 10px;
        }
        .show__form:hover{
          color: $white;
        }
        &:hover{
          background: $main-color;
        }
        &:hover  a{
          color: $white;
        }
        div{
          transform: skew(20deg);
        }
      }
    }
  }
  .selected{
    color: red;
    //background: red;

    //transform: skew(20deg);
    position: relative;
    &:after{
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      position: absolute;
      background: #0787f5;
      transform: skew(-20deg);
      z-index: -5;
    }
  }
  .add_score_list{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    >form {
      position: absolute;
      width: 30%;
      height: 75vh;
      display: flex;
      flex-direction: column;
      background: lighten($black, 70);
      transform-origin: top;
      transition: .3s linear;
      padding-bottom: 20px;
      overflow-y: scroll;
      z-index: 5;
      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: #404051;
        outline: 1px solid silver;
      }
      .respondent_user_active{
        border: 2px solid white;
        //background: white;
      }
      >div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        >.phone{
          width: 100%;
          display: flex;
          justify-content: center;
          position: relative;
          align-items: center;
          .plus__phone,.minus__phone{
            position: absolute;
            right: 20px;
            cursor: pointer;
            font-size: 18px;
            color: $color-1;
            z-index: 2;
          }
          .minus__phone{
            color: red;
          }
        }
        .file{
          display: flex;
          align-items: center;
          width: 90%;
          margin: 5px 0;
        }
        input{
          width: 90%;
          margin: 5px 0;
        }
        select{
          width: 90%;
          margin: 5px 0;
        }
      }
    }
    .tmp__img{
      width: 90%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 10px 0;
      border: 2px solid $white;
      >img{
        width: 40px;
        height: 40px;
        margin: 5px;

      }
    }
  }
}
.btn{
  width: 100%;
  position: relative;
  .loading_btn{
    width: 50%;
    height: 36px;
    position: absolute;
    top: 5px;
    border-radius: 5px;
  }
}
