@import "./src/style/var";

.slide-container{
  width: 90%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  .container{
    position: relative;
  }
  .controls{
    width: 110%;
    display: flex;
    justify-content: space-between;
    animation: center;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateY(-50%);



    button{
      font-size: 50px;
      background: none;
      color: rgb(152, 152, 152);
      transition: .3s;
      &:hover{
        color: rgba(86, 86, 86, 0.8);
      }
    }
  }
  .slide__item{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

}
@media (max-width:$ipadePro) {
  .slide-container{
    width: 90%;
    margin: 10px auto;

    .slide__item{
      background-size: 100% 100%;
    }

  }
}
@media (max-width:$mobilee) {
  .slide-container{
    height: 130px;

    .slide__item{

    }
    .controls{

      button{
        font-size: 30px;
        color: $main-color;
      }
    }

  }
}
@keyframes slider {
    0%{
      opacity: 0;
      transform: scale(.9);
    }
    100%{
      opacity: .8;
      transform: scale(1);
    }


}
