.decor__title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 25px;
  text-align: center;

  &::before{
    content: '';
    display: block;
    width: 35%;
    height: 5px;
    background: #4f4f4f;
  }
  &::after{
    content: '';
    display: block;
    width: 35%;
    height: 5px;
    background: #4f4f4f;
  }
}